@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
.container2 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.header2 {
	width: 100%;
	height: 7%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 140px;
	padding-bottom: 140px;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*Login*/
input{
	height:25px;
	width: 500px;
	margin-left: 40%;
	margin-top: 2.5%;
}
/* More info */
a{
	color:black;
}
into {
	background-color: #FFFFFF;
}
.column h3{
	margin-right: 80px;
	margin-bottom: 70px;
	margin-top: 50px;
}
.profile{
	width: 15%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 50px;
	margin-top: 50px;
	float: left;
	border-radius: 50%;
}
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.buttonbis {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #C4C4C4;
	color: #C4C4C4;
	transition: all 0.3s linear;
}
.buttonbis:hover {
	background-color: #C4C4C4;
	color: #FEFEFE;
	cursor: pointer;
}

.button2 {
	width: 150px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: auto;
	padding-right: 5px;
	padding-bottom: auto;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	background-color: #717070;
	color: #FFFFFF;
	transition: all 0.3s linear;
	
}

.button2:hover{
	background-color: #FEFEFE;
	color: #717070;
	cursor: pointer;
}

.button3 {
	width: 100px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: auto;
	padding-right: 5px;
	padding-bottom: auto;
	padding-left: 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #717070;
	transition: all 0.3s linear;
	
}

.button3:hover{
	background-color: #FEFEFE;
	color: #717070;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 75px;
	padding-bottom: 70PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
.footer_column2 {
	background-color: #B3B3B3;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	float: left;
}
.footer_column3 {
	background-color: #B3B3B3;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	padding-left: 20%;
}

.footer_boutton {
	background-color: #B3B3B3;
	padding-bottom: 70PX;
	padding-top: 0.1px;
	margin-bottom: 0px;
	background-repeat: repeat;
	float: center;
}
.footer_boutton2 {
	background-color: #FFFFFF;
	padding-bottom: 70PX;
	padding-top: 0.1px;
	margin-bottom: 0px;
	background-repeat: repeat;
	float: center;
}

.register{
	background-color: #B3B3B3;
	padding-top: 140px;
	padding-bottom: 140px;
}
.register_header{
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 5px;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

article h4 {
	border-bottom: 0.5px solid #ddd;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	
}
/*CréerSondage*/
.VotreSondage{
	background-color: #B3B3B3;
	padding-top: 140px;
	padding-bottom: 140px;
}
.VotreSondage{
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 5px;
}

.VotreSondage p2{
	float: left;
	margin: auto;
	font-size: 15px;
	text-align: center;
	margin-top: 5%;
	margin-left: 70px;
}
.VotreSondage input{
	margin: auto;
	margin-left: 50px;
	height: 15px;
	width: 100%;
}
/*Ajouterdate*/
.Ajouterdate{
	background-color: #B3B3B3;
	padding-top: 140px;
	padding-bottom: 140px;
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	letter-spacing: 5px;
}

.Ajouterdate p2{
	float: left;
	margin: auto;
	font-size: 15px;
	text-align: center;
	margin-top: 4%;
	margin-left: 40%;
}
.Ajouterdate input{
	margin: auto;
	padding: 5px;
	height: 15px;
	width: 100%;
}
.Ajouterdate ul{
	margin: auto;
	width: 100px;
	height: 0px;
	font-size: 10px;
}
.footer_center {
	font-size: 20px;
	text-align: center;
	float: left;
	margin-top: 50px;
	margin-left: 750px;
	letter-spacing: 5px;
}
footer .footer_center li {
	width: 100%;
	margin: auto;
	color: #717070;
	background-color: #FFFFFF;
}
.sondage{
	float: left;
	margin-top: 1%;
}
.sondage input{
	margin: auto;
}
.p {
	text-align: center;
	margin-bottom: 20px;
}
.button-2 {
	padding:6px 20px;
	letter-spacing: 2px;
	border: 3px solid #717070;
	color: #FFFFFF;
	background-color: #949494;
	transition: all 0.3s linear;
}

.button-2:hover {
	background-color: #717070;
}

.info{
	margin-top: 8%;
	margin-left: 20%;
	margin-bottom: -5%;
	width: 200px;
	font-size: 30px;
}


/* Mobile */
@media (max-width: 320px) {
input{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: center;
	}
.motsdepasse{
	margin-top: 5%;
	margin-left: 20%;
	width: 50%;
	float: center;
	}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.column{
	width: 100%;
	margin-top: 0px;
}

.footer_column {
	width: 100%;
	margin-top: 0px;
}
.footer_column2 {
	width: 100%;
	margin-top: 0px;
}
.profile{
	width: 0%;
	margin-left: 0%;
	margin-right: 0%;
	float: left;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer_column {
	width: 100%;
	margin-top: 0px;
}
.footer_column2 {
	width: 100%;
	margin-top: 0px;
}
.column{
	width: 100%;
	margin-top: 0px;
}
.profile{
	width: 0%;
	margin-left: 0%;
	margin-right: 0%;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
.motsdepasse {
}
